{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link href="{% static 'blog/index.css' %}" rel="stylesheet">
<link href="{% static 'blog/includes/my_post.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block content %}
{% include 'blog/includes/header.html' %}
<section id="welcome">
    <img src="{% static 'blog/images/helen.jpg' %}" alt="author-image">
    <h1>Here's my blog...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde ad sint accusantium veritatis laborum ex, facilis eos sequi! Beatae, asperiores? Error nisi nam optio assumenda quasi aperiam sint ullam?</p>
</section>
<section id="latest-posts">
    <h2>Here are my latests posts</h2>
    <ul>
        {% for post in posts %}
        {% include 'blog/includes/my_post.html' %} 
        {% endfor %}  
    </ul>
</section>
<section id="about">
    <h2>What I do</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos inventore temporibus eos doloremque totam minus voluptates, similique commodi laudantium, esse fugiat pariatur unde, magnam dignissimos cum dicta aliquam itaque? Sunt.</p>
</section>
    
{% endblock %}