{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link href="{% static 'blog/post.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Post
{% endblock %}

{% block content %}
{% include 'blog/includes/header.html' %}
<section id="summary">
    <h2>{{ post }}</h2>
    <article>
        <img src="" alt="">
        <div>
            <address>By Helen</address>
            <p>Last updated <time>today</time></p>
        </div>        
    </article>
</section>
<main>
    <p>{{ text }}</p>
</main>
{% endblock %}